@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --primary-color: #1a1a2e;
    --secondary-color: #16213e;
    --tertiary-color: #0f3460;
    --quaternary-color: #bfa04d;
    --quinary-color: #ffffff;
    --hover: #9c8a3c;
    

    --fuente-roboto-mono: 'Roboto Mono', monospace;
    --fuente-ubuntu: 'Ubuntu', sans-serif;
}


* {
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    font-family: var(--fuente-roboto-mono);
    color: var(--quinary-color);
    
    
}



.header{
    width: 100%;
   
    background-color: var(--primary-color);
    
}

.header__logo{
    padding: 2rem;
    max-width: 35%;
    background-color: var(--primary-color);
    
}

.presentacion{
    background-color: var(--primary-color);
    
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  


.presentacion__contenido{
    width: 90%;
    text-align: center;
    
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.presentacion__contenido__container{
    
    display: flex;
    justify-content: center;
    
   

}

.presentacion__contenido__container__texto{
    border: 8px groove var(--secondary-color);
    border-radius: 10px;
    width: 100%;
    height: 30rem;
    margin: 1rem;
    text-align: center;
    
    resize: none;
    overflow-y: auto;
   
    font-size: 2rem;
    font-weight: 700;
    color: var(--quinary-color);
    background-color: var(--secondary-color);
    
}



.presentacion__contenido__down{
    
    display: flex;
    flex-direction: column;
    margin: 2%;
    
}

.presentacion__contenido__down__letrero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5rem 0;
    
}

.presentacion__contenido__down__letrero__circulo{
    width: 1.2rem;
}

.presentacion__contenido__down__reglas{
    font-size: 1.5rem;
    margin: 0 0 0 0.4rem;
}

.presentacion__contenido__down__botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
   
}

.boton__encriptar{
    border: 5px solid var(--quaternary-color);
    background-color: var(--quaternary-color);
    color: var(--quinary-color);
    flex: 1;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    
    cursor: pointer;
    text-align: center;
}

.boton__desencriptar{
    border: 5px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    color: var(--quinary-color);
    flex: 1;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    
}

.boton__encriptar:hover{
    background-color: var(--hover);
}

.boton__desencriptar:hover{
    background-color: var(--secondary-color);

}

.presentacion__contenido__resultado{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 8px groove var(--secondary-color);
    
    gap: 15px;
    margin: 2.7rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.presentacion__contenido__resultado__imagen{
    display: none;
}

.presentacion__contenido__resultado__texto{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
    font-size: 1.3rem;
    
    padding: 5%;
}

#resultado {
    padding-top: 2rem;
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}    

@media (min-width:800px) {
   

    .presentacion__contenido__down__botones{
        flex-direction: row;
        justify-content: space-between;
        height: 5rem; 
        
    }

 
    .presentacion__contenido__resultado{
        width: 85%;
    }
}

@media (min-width:1200px) {
    

    .presentacion{
       flex-direction: row;
       align-items: flex-start;
       
    }

    .presentacion__contenido__container__texto{
        height: 50rem;

        
    }

    
    .presentacion__contenido__down__reglas{
        font-size: 1.4rem;
    }
    

    .presentacion__contenido__resultado{
        align-items: center;
        justify-content: center;
        margin: 3rem 2rem 4rem 3rem;
        height: 62rem;
        
    }

    .presentacion__contenido__resultado__imagen{
        display: block;
        width: 25rem;
    }
}


@media (min-width:1600px) {
    .presentacion__contenido__down__reglas{
        font-size: 1.6rem;
    }

    .presentacion__contenido__resultado{
        height: 63rem;
    }
}